aws_access_key = ""
aws_secret_key = ""
fabric-ca_repo_url = ""
github_personal_access_token = ""
db_user = ""
db_password = ""
db_name = ""
aws_default_region = ""
aws_account_id = ""
image_repo_name = ""
image_tag = ""
dockerhub_user = ""
dockerhub_pass = ""